@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400\;900&display=swap');
@import './_variables'; // Variables
@import './partials/_base'; // Base styles

@import './partials/_member-list'; // Member list


body {
  background-color: $bg-primary;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

.header {
  background-color: $theme-primary;
  height: 250px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  border-bottom: 5px solid $theme-shadow;
  box-shadow: 0 5px 0 $bg-shadow;
}

.letter {
  color: $header-primary;
  text-shadow: 0 5px 0 $header-shadow;
  font-size: 48px;
  margin: 15px 0;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container, .container-sm {
  max-width: 80%;
}

.link {
  color: $theme-shadow;

  &:hover {
    text-decoration: underline;
  }
}
