@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400\;900&display=swap');
@import './_variables'; // Variables
@import './partials/_base'; // Base styles

@import './partials/_header'; // Header
@import './partials/_member-list'; // Member list


body {
  background-color: $bg-primary;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container, .container-sm {
  max-width: 80%;
}

.link {
  color: $theme-shadow;

  &:hover {
    text-decoration: underline;
  }
}
