.header {
  background-color: $theme-primary;
  //height: 250px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  border-bottom: 5px solid $theme-shadow;
  box-shadow: 0 5px 0 $bg-shadow;

  .letter {
    color: $header-primary;
    text-shadow: 0 5px 0 $header-shadow;
    font-size: 48px;
    margin: 15px 0;
  }
}